.dashboard {
  background: var(--gray3);
  width: 70rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 5px;
}

.component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard:last-child {
  background: var(--green-dark);
}

.component > p {
  color: white;
  font-weight: 400;
}

.paragraph > p {
  font-size: 32px;
  font-weight: 700;
  color: var(--gray7);
  margin-top: 1.125rem;
}