.teste {
  background: var(--gray3);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 5px;
}

.component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component > p{
  color: var(--gray5);
  font-weight: 400;
}

.paragraph > p {
  font-size: 32px;
  font-weight: 700;
  color: var(--gray7);
  margin-top: 1.125rem;
}