.source {
  width: 70rem;
  display: flex;
  margin: 0 auto;
  gap: 12px;
  margin-top: 7.5rem;
  align-items: center;
}

.source > input {
  width: 59.8125rem;
  padding: 1rem;
  background: var(--gray1);
  border: none;
  outline: none;
  border-radius: 6px;
  align-items: center;
  color: var(--gray8);
}

.source > input:focus {
  outline: 1px solid var(--gray5);
}

.source > input::placeholder {
  color: var(--gray5);
  font-size: 16px;
}

.source > button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0.8rem 2rem;
  border: 1px solid var(--green-light);
  border-radius: 6px;
  color: var(--green-light);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.source > button:hover {
  background: var(--green-light);
  color: white;
}